# Ignore Latex files
*.pdf
*.aux
*.not
*.ntn
*.glo
*.idx
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.tui
*.top
*.tmp
*.mp
*.dvi
*.glg
*.log
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.nlg
*.synctex.gz
*.bcf
*.run.xml

# Ignore Mac IDE files
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/
.DS_Store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

$ Ignore SASS config files
.sass-cache

*.xlsx

*.xls

*.dta
